PORT=
MONGO_URI=
MONGO_NAME=

# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

# github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

# twitter 
TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_CALLBACK_URL=

# tiktok
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
TIKTOK_CALLBACK_URL=
TIKTOK_AUTHORIZATION_URL=
TIKTOK_TOKEN_URL=